/* Customized Styles */

.masthead__menu-item {
        font-size: 16px;
}

.masthead__inner-wrap {
        padding: 0.5rem;
}

.btn--reddit {
        background: #ff4301;
        color: #fff;

        &:visited {
                background: #ff4301;
                color: #fff;
        }
        &:hover {
                background: hsla(10, 99%, 50%, 1);
                color: #fff;
        }
}

.page__footer {
        border-top: 1px solid #f2f3f3;
        background: #fff;
        footer {
                text-align: center;
        }
}
