:root {
  --body-bg: #f5f7f9;
  --text-color: #111;
  --inline-code: #e2e2d7;
  --link-color: #65ddd9;
  --font-family: "Inter", Roboto, Ubuntu, "Droid Sans", "Helvetica Neue",
    sans-serif;
  --content-width: 1060px;
  --content-width--small: 560px;
  --content-width--medium: 700px;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background: var(--body-bg);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
