:root {
  --body-bg: #f5f7f9;
  --text-color: #111;
  --inline-code: #e2e2d7;
  --link-color: #1a9fe1;
  --font-family: "Inter", Roboto, Ubuntu, "Droid Sans", "Helvetica Neue",
    sans-serif;
  --content-width: 1060px;
  --content-width--small: 560px;
  --content-width--medium: 700px;
  --text-1x: 1.25rem;
  --text-2x: 1.5rem;
  --text-3x: 1.875rem;
  --text-4x: 2.25rem;
  --text-5x: 3rem;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background: var(--body-bg);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  border-bottom: 1px solid var(--text-color);
}

.logo {
  flex: 1;
}

.logo a {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 700;
}

.header_nav {
  margin-top: 0.5rem;
}

.header_nav_ul {
  display: flex;
}

.header_nav_ul a:link,
.header_nav_ul a:visited {
  display: block;
  color: var(--text-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1.5rem;
}

.header_nav {
  order: 1;
  width: 100%;
}

.header_social {
  max-width: 110px;
  flex: 1;
  justify-content: end;
}

.header_social_ul {
  display: flex;
  justify-content: space-between;
}

.header_social svg {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 500px) {

  .logo {
    display: block;
    margin-right: 2rem;
    flex: none;
  }

  .logo a {
    font-size: var(--text-2x);
  }

  .header {
    align-items: center;
    border-bottom: none;
  }

  .header_nav {
    order: 0;
    width: auto;
    margin-top: 0;
  }

  .header_social {
    margin-left: auto;

  }
}

@media screen and (min-width: 800px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .hero_img img {
    max-width: 350px;
    margin-left: 2rem;
    border-radius: 50%;
    border: 3px solid var(--text-color);

    /*
    max-height: 200px;
    margin: 1.5rem auto 0;
*/
  }
}

.hero p {
  font-size: 18px;
  line-height: 28px;
}

.posts_section {
  margin-top: 3.4rem;
}

.section_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #b9efa5;
  font-size: var(--text-1x);
  align-items: center;
}

.section_title span {
  background: #b9efa5;
  color: var(--text-color);
  padding: 9px;
}

.article a {
  display: block;
  color: var(--text-color);
  padding: 0.5rem 0;
}

.article_row .new_article {
  display: block;
  background: #b9efa5;
  padding: 0.3rem;
  border-radius: 4px;
}

.article_row time {
  min-width: 100px;
}


.popular_posts .article {
  border-bottom: 1px solid var(--text-color);
}


.popular_posts .article a:hover {
  background: var(--text-color);
  color: var(--body-bg);
}


/* remove margins on larger screen */
.popular_posts .article_row h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.popular_posts .article_row time {
  display: block;
}

@media screen and (min-width: 500px) {
  .posts_section .article_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article_row time {
    white-space: nowrap
  }
}

@media screen and (min-width: 800px) {
  .recent_posts .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recent_posts .article {
    flex-basis: 48%;
  }

  .recent_posts .article_row h3 {
    line-height: var(--text-2x);
  }

  .article_row time {
    margin-left: 0.5rem;
  }

  .article_row {
    position: relative;
  }


  .popular_posts .article {
    border-bottom: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}